@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@500;700&display=swap");

/* 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
*/

:root {
  --nav-background: #2e323f;
  --hero-background: #3b4050;
  --paragraph-color: #6f737f;
  --word-white-color: #ffffff;
  --special-word-color: #a59678;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

img{
  width: 100%;
}

a,h1,h2,h3,h4, input{
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

/* Navigation part */

.navigation-bar-section{
  background-color: var(--nav-background);
  height: auto;
  padding: .4em 0;
}

.nav-list-section {
  display: none;
}

.nav-list-section.expand{
  display: flex;
  flex-direction: column;
}

.nav-toggle {
  width: 40px;
  height: 40px;
  border-radius: 30%;
}

.logo {
  width: 3rem;
}

/* Introduction Section */

/* First Mid Section */

/* Second Mid Section */

/* Footer section */